.button {
  font-family: $second-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  &:hover,
  :active {
    background-color: $basic-green-2;
  }
}

.button--show {
  color: $special-dark-grey;
  background-color: $basic-grey;

  &:hover,
  :active {
    background-color: $special-grey-1;
  }
}
