.catalog-product-card {
  padding-top: 19px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px 40px;
  }
}

.catalog-product-card--last {
  position: relative;
  display: grid;
  padding-top: 26px;
  padding-bottom: 25px;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 130px 35px 38px;
    background: linear-gradient(to bottom, $basic-white 0, $basic-white 506px);
    border: 2px solid #f2f2f2;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 82px;
    //   left: 0;
    //   width: 100%;
    //   box-shadow: 0 0 0 1px #f2f2f2;
    // }

    &::after {
      content: "";
      position: absolute;
      right: -3px;
      bottom: 425px;
      width: 325px;
      height: 85px;
      border-bottom: 2px solid #f2f2f2;
      background-color: $basic-white;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 128px 35px 38px;

    // &::before {
    //   display: none;
    // }

    &::after {
      content: "";
      position: absolute;
      right: -2px;
      bottom: 427px;
      width: 245px;
      height: 85px;
      border-bottom: 2px solid #f2f2f2;
      background-color: $basic-white;
    }
  }
}

.catalog-product-card__content {
  display: grid;
  grid-column: 2/2;
  grid-row: 1/1;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  gap: 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 37px;
    flex-direction: column;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 25px;
  }
}

.catalog-product-card__content--last {
  display: flex;
  padding: 0 30px;
  grid-column: 1/1;
  grid-row: 1/1;
  flex-direction: column;
  gap: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 92px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 101px;
  }
}

.catalog-product-card__link-image {
  display: block;
  grid-column: 1/1;
  grid-row: 1/1;
  place-self: center;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
    margin-bottom: 12px;
  }
}

.catalog-product-card__link-image--last {
  display: block;
  padding: 0 95px 23px;
  align-self: normal;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    padding-left: 56px;
    align-self: normal;
  }
}

.catalog-product-card__icon {
  stroke-width: 4px;
  color: #d3d3d3;

  @media (min-width: $tablet-width) {
    stroke-width: 2px;
  }
}

.catalog-product-card__link-image--last:hover .catalog-product-card__icon,
.catalog-product-card__link-image--last:active .catalog-product-card__icon {
  color: $basic-green;
}

.catalog-product-card__image-wrapper {
  display: block;
  width: auto;
  height: auto;
}

.catalog-product-card__image-show {
  display: block;
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.catalog-product-card__link-title {
  padding-right: 64px;
  padding-left: 0;
  grid-column: 1/1;
  grid-row: 1/1;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    width: 250px;
    padding-right: 56px;
    padding-left: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding-right: 15px;
    padding-left: 14px;
  }
}

.catalog-product-card__link-title--last {
  width: 222px;
  margin: 0;
  padding: 0 9px 9px 6px;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    padding-right: 36px;
    padding-bottom: 0;
    padding-left: 36px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.catalog-product-card__title {
  margin: 0;
  font-family: $second-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog-product-card__text {
  margin: 0;
  font-size: 12px;
  line-height: 133%;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 170px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-product-card__description-list {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    gap: 10px;
  }
}

.catalog-product-card__description-item {
  display: flex;
  justify-content: space-between;
}

.catalog-product-card__description-item::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 100%;
    box-shadow: 0 0 0 1px $special-grey;
  }
}

.catalog-product-card__description-item:nth-child(2n) {
  @media (min-width: $tablet-width) {
    padding: 2px 0;
  }
}

.catalog-product-card__description-item:nth-child(2n)::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 100%;
    box-shadow: 0 0 0 1px $special-grey;
  }

  @media (min-width: $desktop-width) {
    bottom: -4px;
  }
}

.catalog-product-card__description-item:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.catalog-product-card__description-item:last-child::after {
  @media (min-width: $desktop-width) {
    bottom: -10px;
  }
}

.catalog-product-card__order {
  padding: 10px 109px 10px 110px;
  grid-column: 1/-1;
  grid-row: 2/2;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    padding: 10px 94px 10px 95px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px 10px 55px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.catalog-product-card__show--last {
  padding: 10px 96px 10px 94px;
  grid-column: 1/1;
  grid-row: 2/2;

  @media (min-width: $tablet-width) {
    padding: 10px 81px 10px 79px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 40px 10px 39px;
  }
}
