.role-model-price-container {
  font-family: $second-family;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.role-model-price-container__price-description,
.role-model-price-container__price-total-sum {
  display: inline;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.role-model-price-container__price-description {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    padding-right: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
