.role-model {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
    background: linear-gradient(to bottom, $basic-white 0, $basic-white 619px, #eaeaea 619px, #eaeaea 1081px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    background: linear-gradient(to bottom, $basic-white 0, $basic-white 136px, #eaeaea 136px);
  }
}

.role-model__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 436px 560px;
    grid-template-rows: auto;
    column-gap: 224px;
  }
}

.role-model__inner {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 0;
  }
}

.role-model__title {
  margin: 0;
  margin-bottom: 40px;
  line-height: 40px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.role-model__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding-right: 4px;
  }
}

.role-model__date {
  display: flex;
  flex-wrap: wrap;
  gap: 35px 32px;
  justify-content: center;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    justify-content: normal;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    gap: 55px 42px;
  }
}

.role-model__date-container {
  position: relative;
  width: 124px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 69px;
  }
}

.role-model__price-container {
  width: 186px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-left: auto;
    padding-top: 11px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 327px;
    margin-left: 1px;
    padding-top: 8px;
    padding-bottom: 0;
    gap: 63px;
    text-align: center;
  }
}

.role-model__slider-container {
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }
}
