.subscribe-form__field {
  padding: 13px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscribe-form__button-submit {
  padding: 15px 82px;
  font-size: 20px;
  line-height: 26px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
    width: 256px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
